body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/back.jpg) no-repeat;
  background-size: 100%;
  min-height: 100%;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
	font-family: sans-serif;
}

form {
	padding: 20px;
	background: url(/img/form.jpeg) no-repeat;
	background-size: 100%;
	margin-top: 60px;
	min-height: 100%;
}
